<section class="block block--overlay block--cocoa-coffee">
  <div class="container grid grid--1x2 ">
    <article class="card card--border">
      <h3>Crafting Traditions - Growing Excellence</h3>
      <p>We've spent three decades nurturing this land, learning the soil's secrets and the seasons' rhythm. Our father was our first mentor, teaching us the art of farming and passing down age-old techniques. Knowledge isn't just power; it's our heritage</p>
    </article>
    <article class="card card--border">
      <h3>A Symphony of Cocoa and Coffee</h3>
      <p>Let's dive deeper into the Konnela universe, where we turn ripe cocoa and coffee beans into your favorite delicacies.</p>
    </article>
  </div>
</section>