<section class="block container grid grid--1x2 block--konnela">
  <header class=" block__header konnela__content">
    <h2>The Konnela League &ndash; Behind the Beans</h2>
    <p>Guiding our journey are our caretakers - Morris Konneh, our dependable manager, Musa Konneh, our stellar assistant and salesperson, Majenneh Konneh, our diligent clerk, Hawa Kamara-Konneh, our wise adviser, and Karmoh Varney Kamara, our ever-supportive uncle. Remembering our late father, Armah Konneh, the heart of Konnela, we continue his legacy.</p>
  </header>
  <img src="images/konnela-league.png" class="konnela__leader" alt="photo of all the leader of konnela. they are disussing about the business">
</section>