<section class="block container grid grid--1x2 block--team">
  <header class="block__header">
    <h2>Team Konnela &ndash; Our Superheroes</h2>
    <p>Meet our team of superheroes who make everything possible! Morris, our wise leader, ensures everything on the farm runs smoothly. Musa, the trusty sidekick, helps Morris and sells our cocoa and coffee beans. Uncle Karmoh give us cool advice. We're all inspired by our dad, Armah, who started this fantastic journey.</p>
  </header>
  <div class="grid team">
    <article class="leader">
      <img src="images/morris.png" alt="konnela leader morris" class="team__image">
      <p class="team__name">Morris Konneh</p>
    </article>
    <article class="leader">
      <img src="images/musa.png" alt="konnela leader Musa konnela" class="team__image">
      <p class="team__name">Musa Konneh</p>
    </article>
    <article class="leader">
      <img src="images/varney.png" alt="konnela leader varney b kamara" class="team__image">
      <p class="team__name">Varney B Kamara</p>
    </article>
    <article class="leader">
      <img src="images/armah.png" alt="Armah konneh the founder of konnela" class="team__image">
      <p class="team__name">Armah Konneh</p>
    </article>
  </div>
</section>