<section class="block container block--cocoa">
  <header class="block__header">
    <h2 class="block__heading">Konnela's Cocoa &ndash; A Chocolate Lover's Dream</h2>
    <p>Discover our cocoa beans, the heart, and soul of the finest chocolates. We grow, nurture, and hand-pick each bean, ensuring only the best reaches your favorite treats.</p>
  </header>
  <div class="grid grid--1x2">
    <div class="card">
      <header class="card__header card__header-border">
        <h3 class="card__heading">From Tree to Treat &ndash; Our Cocoa's Journey</h3>
        <p>Our cocoa beans' journey from the lush canopies of our farm to your delightful desserts is a story of dedication, tradition, and sheer love. Every stage, from planting to harvesting, reflects our passion and commitment.</p>
      </header>
      <img src="images/our-journey.png" alt="cocoa tree with red cocoa" class="card__img">
    </div>

    <div class="card">
      <header class="card__header card__header-border">
        <h3 class="card__heading">Forastero Euphoria &ndash; The Konnela Cocoa Experience</h3>
        <p>Our cocoa variety, the Forastero, is not just a plant &ndash; it's the secret behind the rich, robust flavor that makes West African cocoa world-renowned. Taste the Konnela difference in each bite!</p>
      </header>
      <img src="images/forastero.png" alt="cocoa tree with green cocoa" class="card__img">
    </div>
  </div>
</section>