<section class="block container grid grid--1x3 konnela-history--block">
  <article class="card card--border">
    <h2>The Story of Konnela Farm - Where Magic Grows</h2>
    <p>If you've ever wondered where that mouthwatering chocolate or refreshing coffee originates, let's go on a journey to a magical place, the Konnela Farm.</p>
    <a href="#" class="link link--primary">read more</a>
  </article>

  <article class="card card--border">
    <h2>A Dream Sprouted in the Heart of Liberia</h2>
    <p>Nestled in the scenic landscapes of Bondowalahun Town, Liberia, Konnela Farm is a verdant expanse covering 50 acres. This isn't just land but the canvas of our family's dreams, blooming with cocoa and coffee plants.</p>
    <a href="#" class="link link--primary">read more</a>
  </article>

  <article class="card card--border">
    <h2>Turning Back Time - Our Farm's Tale</h2>
    <p>Our incredible journey started in the early 1990s with our father, Mr. Armah Konneh, and his unwavering dedication. As we children grew stronger, so did the farm, evolving from a humble plot into a thriving oasis of cocoa and coffee.</p>
    <a href="#" class="link link--primary">read more</a>
  </article>
</section>