<section class="block block--overlay block--substainbility">
  <div class="container grid grid--1x2">
    <article class="card card--border">
        <h3 class="card__heading">Bounty of Nature &ndash; Our Cocoa and Coffee</h3>
        <p>We grow our crops under the cool forest shade, nurturing the special Forastero variety of cocoa, and rich coffee beans. We embrace the rhythm of nature, sowing and reaping at just the right moments, cherishing every bean that's born on our land.</p>
    </article>

    <article class="card card--border">
        <h3 class="card__heading">Sustainability &ndash; Our Promise, Our Future</h3>
        <p>Every sale gets reinvested into the farm, helping us sustain our practices and ensure that Konnela Farm continues to flourish. We take pride in producing 5 to 10 tons of premium cocoa and coffee beans each year, validated by top authorities like Sebehill Cocoa Produce Cooperative and LACRA.</p>
    </article>
  </div>
</section>