<section class="block container grid grid--1x3 block--coffee">
  <article class="card">
    <header class="card__header card__header-border">
      <h3 class="card__heading">Konnela Coffee &ndash; Wake up to Wonder</h3>
      <p>Our coffee beans promise an experience that's more than just a caffeine kick. Each sip of Konnela coffee brings you a unique blend of aroma, taste and a refreshing start to your day.</p>
    </header>
    <img src="images/coffee-1.png" alt="coffee tree with a lot of coffee beans" class="card__img img-1">
  </article>

  <article class="card">
    <header class="card__header card__header-border">
      <h3 class="card__heading">From Berry to Brew &ndash; The Tale of our Coffee Beans</h3>
      <p>Follow the captivating journey of our coffee beans - from thriving on our farm under the African sun to finding their way into your aromatic cup of brew. Every bean has a tale to tell.</p>
    </header>
    <img src="images/dry-coffee.jpg" alt="dry coffee beans" class="card__img">
  </article>

  <article class="card">
    <header class="card__header card__header-border">
      <h3 class="card__heading">An Aromatic Adventure &ndash; The Konnela Coffee Experience</h3>
      <p>Dive into an unforgettable adventure with Konnela coffee. Each brew is an invitation to savor the rich, full-bodied flavor that makes our coffee more than just a drink but a complete experience.</p>
    </header>
    <img src="images/tiles-coffee.png" alt="coffee tree with a lot of coffee beans" class="card__img">
  </article>
</section>