<section class="block callout--block">
  <div class="container grid grid--1x2 callout">
    <div class="callout__content">
      <h3>Your Invitation to an Enchanting Journey</h3>
      <p>And there you have it, friends! That's the story of our farm. But our journey doesn't end here, and we'd love for you to be a part of it. Whether you're a chocolate enthusiast, a coffee aficionado, or a potential partner, you always have room at Konnela Farm. Join us in spreading the joy of high-quality cocoa and coffee. Together, we can make the world a tastier place!</p>
    </div>
    <a href="#" class="btn btn--primary callout__btn">Join Our Flavor Adventure</a>
  </div>
</section>