<form class="grid grid--1x2 contact-form">
  <div>
    <label for="name">Full Name</label>
    <input class="contact__input" type="text" placeholder="Enter Your Name" autofocus required id="name">
  </div>
  <div>
    <label for="phone">Phone#</label>
    <input class="contact__input" type="number" placeholder="Enter Your Phone#" required id="phone">
  </div>
  <div class="email-container">
    <label for="email">Email</label>
  <input class="contact__input" type="email" placeholder="Enter Your Email" required id="email">
</div>
<div class="textarea-container">
  <label for="textarea">Message Us</label>
  <textarea class="textarea" cols="30" rows="10" placeholder="Pleasw write your message here" id="textarea"></textarea>
</div>
  <button type="submit" class="btn btn--primary btn--stress">submit</button>
</form>