<header class="main--header">
  <nav class="nav collapsible">
    <img src="images/Konnela black SVG LOGO-01.svg" alt="konnela logo" class="logo">

      <span class="toggler-container">
        <svg class="icon collapsible__toggler nav__toggler">
          <use xlink:href="images/sprite.svg#open-menu"></use>
        </svg>
      </span>

    <ul class="list nav__list collapsible__content">
      <li class="nav__menu">
        <a href="#" class="nav__link">our story</a>
      </li>
      <li class="nav__menu">
        <a href="#" class="nav__link">Our superheroes</a>
      </li>
      <li class="nav__menu">
        <a href="#" class="nav__link">cocoa</a>
      </li>
      <li class="nav__menu">
        <a href="#" class="nav__link">Coffee</a>
      </li>
      <li class="nav__menu">
        <a href="#" class="btn btn--primary nav__link-btn">contact us</a>
      </li>
    </ul>
    
  </nav>
</header>