<svg class="icon">
  <use xlink:href="#phone"></use>
</svg><svg class="icon">
  <use xlink:href="#open-menu"></use>
</svg><svg class="icon">
  <use xlink:href="#twitter"></use>
</svg><svg class="icon">
  <use xlink:href="#close-menu"></use>
</svg><svg class="icon">
  <use xlink:href="#down-arrow"></use>
</svg><svg class="icon">
  <use xlink:href="#facebook"></use>
</svg><svg class="icon">
  <use xlink:href="#instregrim"></use>
</svg><svg class="icon">
  <use xlink:href="#location"></use>
</svg><svg class="icon">
  <use xlink:href="#mail"></use>
</svg>